html, body {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #404258;
}

.form{
    background-color: #474E68;
    width: 300px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    font-size: 13px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}
.form h1{
    color: #eee;
}
.form form{
    text-align: center;
    color: #eee;
}
.form form input{
    outline: none;
    border: none;
    border-bottom: 2px solid #6B728E;
    background-color: #50577A;
    color: #eee;
    width: 200px;
    padding: 15px;
    border-radius: 3px;
    margin-top: 20px;
}
.form form input:focus{
    background-color: #E8F0FE;
    color: #404258;
}
.form .user{
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: grey;
}
.form .button #btn_submit, .form .button #btn{
    border-radius: 5px;
    border: none;
    color: #eee;
    padding: 10px 32px;
    text-decoration: none;
    cursor: pointer;
}
.form .button #btn_submit{
    background-color: #6B728E;
    margin-top: 20px; 
}
.form .button #btn{
    background-color: #6B728E;
}
.form hr{
    border: 1px solid #eee;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}
.form .button a{
    text-decoration: none;
    color: inherit;
}
.form .button a p{
    font-size: 16px;
    word-spacing: 1px;
    color: #eee;
}
::placeholder {
    color: #eee;
    opacity: 1;
}